WORLD_NAME="YOUR_GAME_ID_HERE_OVER_15_CHARACTERS"
MAX_PLAYERS=5
SEASON="0"
xWORLD_INDEX=0

GAME_ID="YOUR_GAME_ID_HERE_OVER_15_CHARACTERS"
SERVER_PORT=27015
PASSWORD=1234
ALLOW_ONLY_PLATFORM=1

MODS_ENABLED=true
MODIO_API_KEY=your_modio_api_key
MODIO_API_URL=your_modio_api_url
MODS=comma,separated,mod,names